.Gallery {
  width: 100%;
  height: calc(100% - 10rem);
  position: relative;
  pointer-events: none;

  &:hover,
  &:focus-within {
    .GalleryItem {
      opacity: 0.5;
    }
  }

  .GalleryItem {
    --x: 0px;
    --y: 0px;
    outline: none;
    position: absolute;
    transform: translate(var(--x), var(--y)) scale(0.99) rotateZ(0);
    transform-origin: 50% 50%;
    transition-property: transform, opacity;
    transition-duration: var(--GalleryItem-animationDuration);
    transition-timing-function: ease-out, linear;
    z-index: 0;
    display: block;
    pointer-events: none;
    .GalleryItem__image {
      background-color: var(--palette0);
      background-size: cover;
      background-position: 50% 50%;
      height: 100%;
      width: 100%;
      display: block;
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
      pointer-events: all;
      filter: none;
      position: relative;
      z-index: 2;
    }
    &:not(.GalleryItem--loading) {
      &:hover,
      &:focus {
        opacity: 1;
        filter: var(--GalleryItem-dropShadow);
        transform: translate(var(--x), var(--y)) scale(var(--GalleryItem-hoverScale));
        z-index: 100;
      }
      &.GalleryItem--mature {
        &:hover,
        &:focus {
          filter: var(--GalleryItem-dropShadow);
          .GalleryItem__image {
            filter: none;
          }
        }
      }
    }

    &.GalleryItem--loading {
      opacity: 0.5;
      animation: GalleryItemLoadingSpin;
      animation-duration: calc(var(--GalleryItem-animationDuration) * 10);
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    &.GalleryItem--mature {
      .GalleryItem__image {
        filter: blur(0.5rem);
      }
    }

    &#GalleryItem-local_playsome {
      .GalleryItem__image {
        background-size: 65%;
        background-repeat: no-repeat;
      }
    }

    .GalleryItem__title {
      background-color: var(--palette4);
      color: var(--palette3);
      font-size: calc(1.25rem / var(--GalleryItem-hoverScale));
      line-height: calc(1.5rem / var(--GalleryItem-hoverScale));
      text-align: center;
      padding: calc(0.5rem / var(--GalleryItem-hoverScale));
      position: absolute;
      top: calc(100% - (0.25rem / var(--GalleryItem-hoverScale)));
      z-index: 1;
      opacity: 0;
      transition-property: opacity;
      transition-duration: var(--GalleryItem-animationDuration);
      transition-delay: var(--GalleryItem-animationDuration);
      transition-timing-function: linear;
      @media (max-width: var(--breakpoint-lg)) {
        font-size: calc(1rem / var(--GalleryItem-hoverScale));
        line-height: calc(1.5rem / var(--GalleryItem-hoverScale));
        padding: calc(0.25rem / var(--GalleryItem-hoverScale));
        top: calc(100% - (0.125rem / var(--GalleryItem-hoverScale)));
      }
      &.GalleryItem__title--above {
        top: auto;
        bottom: calc(100% - (0.25rem / var(--GalleryItem-hoverScale)));
      }
      .GalleryItem__title__icon {
        margin-right: calc(1rem / var(--GalleryItem-hoverScale));
        height: calc(2rem / var(--GalleryItem-hoverScale));
        width: calc(2rem / var(--GalleryItem-hoverScale));
        vertical-align: middle;
        @media (max-width: var(--breakpoint-lg)) {
          margin-right: calc(0.5rem / var(--GalleryItem-hoverScale));
          height: calc(1rem / var(--GalleryItem-hoverScale));
          width: calc(1rem / var(--GalleryItem-hoverScale));
        }
      }
      span {
        vertical-align: middle;
      }
    }
    &:hover,
    &:focus {
      .GalleryItem__title {
        opacity: 1;
      }
    }
  }
}

@keyframes GalleryItemLoadingSpin {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
