@import "_breakpoints";

#app {
  padding: 5rem;
  width: 100%;
  min-width: map_get($breakpoints, sm);
  min-height: 100%;
  @media (max-width: map_get($breakpoints, md)) {
    padding: 2.5rem;
  }
  @media (max-width: map_get($breakpoints, sm)) {
    padding: 1rem;
  }
}
