@import "_breakpoints";
@import "_variables";


.Gallery {
  width: 100%;
  height: calc(100% - 10rem);
  position: relative;
  pointer-events: none;

  &:hover, &:focus-within {
    .GalleryItem {
      opacity: 0.5;
    }
  }

  .GalleryItem {
    --x: 0px;
    --y: 0px;
    outline: none;
    position: absolute;
    transform: translate(var(--x), var(--y)) scale(0.99) rotateZ(0);
    transform-origin: 50% 50%;
    transition-property: transform, opacity;
    transition-duration: $GalleryItem-animationDuration;
    transition-timing-function: ease-out, linear;
    z-index: 0;
    display: block;
    pointer-events: none;
    .GalleryItem__image {
      background-color: $palette0;
      background-size: cover;
      background-position: 50% 50%;
      height: 100%;
      width: 100%;
      display: block;
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
      pointer-events: all;
      filter: none;
      position: relative;
      z-index: 2;
    }
    &:not(.GalleryItem--loading) {
      &:hover, &:focus {
        opacity: 1;
        filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.5));
        transform: translate(var(--x), var(--y)) scale($GalleryItem-hoverScale);
        z-index: 100;
      }
      &.GalleryItem--mature {
        &:hover, &:focus {
          filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.5));
          .GalleryItem__image {
            filter: none;
          }
        }
      }
    }

    &.GalleryItem--loading {
      opacity: 0.5;
      animation: GalleryItemLoadingSpin;
      animation-duration: $GalleryItem-animationDuration * 10;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    &.GalleryItem--mature {
      .GalleryItem__image {
        filter: blur(0.5rem);
      }
    }

    &#GalleryItem-local_playsome {
      .GalleryItem__image {
        background-size: 65%;
        background-repeat: no-repeat;
      }
    }

    .GalleryItem__title {
      background-color: $palette4;
      color: $palette3;
      font-size: 1.25rem / $GalleryItem-hoverScale;
      line-height: 1.5rem / $GalleryItem-hoverScale;
      text-align: center;
      padding: 0.5rem / $GalleryItem-hoverScale;
      position: absolute;
      top: calc(100% - #{0.25rem / $GalleryItem-hoverScale});
      z-index: 1;
      opacity: 0;
      transition-property: opacity;
      transition-duration: $GalleryItem-animationDuration;
      transition-delay: $GalleryItem-animationDuration;
      transition-timing-function: linear;
      @media (max-width: map_get($breakpoints, lg)) {
        font-size: 1rem / $GalleryItem-hoverScale;
        line-height: 1.5rem / $GalleryItem-hoverScale;
        padding: 0.25rem / $GalleryItem-hoverScale;
        top: calc(100% - #{0.125rem / $GalleryItem-hoverScale});
      }
      &.GalleryItem__title--above {
        top: auto;
        bottom: calc(100% - #{0.25rem / $GalleryItem-hoverScale});
      }
      .GalleryItem__title__icon {
        margin-right: 1rem / $GalleryItem-hoverScale;
        height: 2rem / $GalleryItem-hoverScale;
        width: 2rem / $GalleryItem-hoverScale;
        vertical-align: middle;
        @media (max-width: map_get($breakpoints, lg)) {
          margin-right: 0.5rem / $GalleryItem-hoverScale;
          height: 1rem / $GalleryItem-hoverScale;
          width: 1rem / $GalleryItem-hoverScale;
        }
      }
      span {
        vertical-align: middle;

      }
    }
    &:hover, &:focus {
      .GalleryItem__title {
        opacity: 1;
      }
    }
  }
}

@keyframes GalleryItemLoadingSpin {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.1;
  }
}