@import "../css/normalize.css";
@import "./variables";
@import "./menu";

html {
  font-size: $gridSize;
  width: 100%;
  height: 100%;
}
body {
  background-color: #1d242a;
  width: 100%;
  height: 100%;
}

#app {
  padding: 5rem;
  width: calc(100% - 10rem);
  min-height: 100%;
  @media (max-width: 500px) {
    padding: 2.5rem;
    width: calc(100% - 5rem);
    height: calc(100% - 5rem);
  }
}

.Gallery {
  width: 100%;
  height: calc(100% - 10rem);
  position: relative;
  pointer-events: none;

  &:hover, &:focus-within {
    .GalleryItem {
      opacity: 0.5;
    }
  }

  @media (max-width: 500px) {
    margin: 2.5rem;
  }

  .GalleryItem {
    outline: none;
    position: absolute;
    transform: translate(-50%, -50%) scale(0.99);
    transition-property: transform, opacity, left, top;
    transition-duration: 0.1s, 0.2s;
    transition-timing-function: ease-out, linear, ease-in-out;
    z-index: 0;
    display: block;
    pointer-events: none;
    & > * {
      background-color: $palette0;
      background-size: cover;
      background-position: 50% 50%;
      height: 100%;
      width: 100%;
      display: block;
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
      pointer-events: all;
      filter: none;
    }
    &:hover, &:focus {
      opacity: 1;
      filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.5));
      transform: translate(-50%, -50%) scale(2);
      z-index: 100;
    }

    &.GalleryItem--loading {
      opacity: 0;
    }

    &.GalleryItem--mature {
      & > * {
        filter: blur(0.5rem);
      }

      &:hover, &:focus {
        filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.5));
        & > * {
          filter: none;
        }
      }
    }

    &#GalleryItem-local_playsome {
      & > * {
        background-size: 65%;
        background-repeat: no-repeat;
      }
    }
  }
}